@property --x-minHeight {
  syntax: "*";
  inherits: false
}

@property --x-opacity {
  syntax: "*";
  inherits: false
}

@property --x-transform {
  syntax: "*";
  inherits: false
}

@property --x-backgroundColor {
  syntax: "*";
  inherits: false
}

@property --x-paddingRight {
  syntax: "*";
  inherits: false
}

@property --x-color {
  syntax: "*";
  inherits: false
}

@property --x-textAlign {
  syntax: "*";
  inherits: false
}

@property --x-gridArea {
  syntax: "*";
  inherits: false
}

@property --x-1ifsx55 {
  syntax: "*";
  inherits: false
}

@property --x-borderRadius {
  syntax: "*";
  inherits: false
}

@property --x-aspectRatio {
  syntax: "*";
  inherits: false
}

@property --x-width {
  syntax: "*";
  inherits: false
}

@property --x-height {
  syntax: "*";
  inherits: false
}

@property --x-gridTemplateRows {
  syntax: "*";
  inherits: false
}

@property --x-cursor {
  syntax: "*";
  inherits: false
}

@property --x-borderTopStyle {
  syntax: "*";
  inherits: false
}

@property --x-1lsze8t {
  syntax: "*";
  inherits: false
}

@keyframes editorstyling-2ri8rc-B {
  from {
    backdrop-filter: blur();
    background-color: #0000;
  }

  to {
    backdrop-filter: blur(1px);
    background-color: #000c;
  }
}

@keyframes editorstyling-1rtyk12-B {
  from {
    opacity: 0;
    transform: scale(.9);
  }
}

.editorstyling-1d1d8sr {
  --dialog-max-height: calc(100vh - var(--spacing-GoldenUnit) * 2);
}

.editorstyling-meyex9 {
  --dialog-max-height: calc(100vh - var(--spacing-GoldenUnit));
}

.editorstyling-1wq08gs {
  --dialog-max-width: calc(100vw - var(--spacing-GoldenUnit));
}

.editorstyling-tkilqk {
  --dialog-total-max-height: calc(100vh - var(--spacing-GoldenUnit));
}

.editorstyling-1fdo2jl:not(#\#) {
  grid-area: content;
}

.editorstyling-1b8ijm3:not(#\#) {
  grid-area: var(--x-gridArea);
}

.editorstyling-d3rg8h:not(#\#) {
  grid-template: "content" 1fr
  / 1fr;
}

.editorstyling-1hf54hz:not(#\#) {
  grid-template: ". top ." minmax(0, 1fr)
                 "left middle right" minmax(0, 1fr)
                 / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.editorstyling-ta5h8n:not(#\#) {
  grid-template: ". top ." minmax(0, 1fr)
                 "left middle right" minmax(0, 1fr)
                 ". bottom ." minmax(0, 1fr)
                 / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.editorstyling-nxdyar:not(#\#) {
  grid-template: "content" minmax(0, 1fr)
  / minmax(0, 1fr);
}

.editorstyling-6xo9ff:not(#\#) {
  grid-template: "left middle right" minmax(0, 1fr)
  / minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
}

.editorstyling-1303eka:not(#\#) {
  grid-template: "left middle right" minmax(0, 1fr)
                 ". bottom ." minmax(0, 1fr)
                 / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.editorstyling-64cf21:not(#\#) {
  grid-template: "left right" minmax(0, 1fr)
  / minmax(0, 1fr) minmax(0, 1fr);
}

.editorstyling-u5a8wy:not(#\#) {
  grid-template: "top middle" minmax(0, 1fr)
                 "bottom middle" minmax(0, 1fr)
                 / minmax(0, 4fr) minmax(0, 1fr);
}

.editorstyling-1bhg26w:not(#\#) {
  grid-template: "top" minmax(0, 1fr)
                 "bottom" minmax(0, 1fr)
                 / minmax(0, 1fr);
}

.editorstyling-10a8y8t:not(#\#) {
  inset: 0;
}

.editorstyling-1teoei8:not(#\#) {
  margin: -20px;
}

.editorstyling-8081h:not(#\#) {
  margin: 0 calc(var(--spacing-Full) * -1) 0 !important;
}

.editorstyling-1ghz6dp:not(#\#) {
  margin: 0;
}

.editorstyling-qjkn27:not(#\#) {
  margin: var(--spacing-Full) auto 0;
}

.editorstyling-1jnhg2m:not(#\#) {
  margin: var(--spacing-GoldenUnit);
}

.editorstyling-s5loj3:not(#\#) {
  padding: 0 0 0 var(--fontSize-Base);
}

.editorstyling-1t8ecn8:not(#\#) {
  padding: 0 14px 0 0;
}

.editorstyling-hkptzh:not(#\#) {
  padding: 0 var(--fontSize-Base);
}

.editorstyling-1732f5w:not(#\#) {
  padding: 0 !important;
}

.editorstyling-1717udv:not(#\#) {
  padding: 0;
}

.editorstyling-zdscax:not(#\#) {
  padding: var(--spacing-Full) !important;
}

.editorstyling-1i724xb:not(#\#) {
  padding: var(--spacing-Full);
}

.editorstyling-edylmv:not(#\#) {
  padding: var(--spacing-Quarter) var(--spacing-Half);
}

.editorstyling-1ly45rb.editorstyling-1ly45rb:where(*) > :not(#\#) {
  grid-area: content;
}

.editorstyling-g29ltk:not(#\#):not(#\#) {
  border-color: #fff;
}

.editorstyling-1r7ld26:not(#\#):not(#\#) {
  border-color: currentColor;
}

.editorstyling-2u8bby:not(#\#):not(#\#) {
  border-radius: 0;
}

.editorstyling-1cum3z5:not(#\#):not(#\#) {
  border-radius: 2px;
}

.editorstyling-16rqkct:not(#\#):not(#\#) {
  border-radius: 50%;
}

.editorstyling-7yrpt8:not(#\#):not(#\#) {
  border-radius: var(--x-borderRadius);
}

.editorstyling-1y0btm7:not(#\#):not(#\#) {
  border-style: solid;
}

.editorstyling-c342km:not(#\#):not(#\#) {
  border-width: 0;
}

.editorstyling-mkeg23:not(#\#):not(#\#) {
  border-width: 1px;
}

.editorstyling-9r2w2z:not(#\#):not(#\#) {
  border-width: 3px;
}

.editorstyling-98rzlu:not(#\#):not(#\#) {
  flex: 1;
}

.editorstyling-1j08gr6:not(#\#):not(#\#) {
  gap: var(--spacing-Full);
}

.editorstyling-1iv4zvh:not(#\#):not(#\#) {
  gap: var(--spacing-Half);
}

.editorstyling-1xye2hm:not(#\#):not(#\#) {
  gap: var(--spacing-Quarter);
}

.editorstyling-us49la:not(#\#):not(#\#) {
  outline: 2px solid var(--colors-Warn);
}

.editorstyling-zd0ubt:not(#\#):not(#\#) {
  outline: none !important;
}

.editorstyling-1a2a7pz:not(#\#):not(#\#) {
  outline: none;
}

.editorstyling-8wvn0y:not(#\#):not(#\#) {
  outline: var(--colors-ContrastNeutral) solid 1px;
}

.editorstyling-b3r6kr:not(#\#):not(#\#) {
  overflow: hidden;
}

.editorstyling-t970qd:not(#\#):not(#\#) {
  padding-block: 0;
}

.editorstyling-1ku5rj1:not(#\#):not(#\#) {
  place-items: center;
}

.editorstyling-1vfmi3i:not(#\#):not(#\#) {
  transition: border-radius var(--transition-Slow) ease, width var(--transition-Slow) ease;
}

.editorstyling-ig5ppg:not(#\#):not(#\#) {
  transition: color var(--transition-Default), opacity var(--transition-Default);
}

.editorstyling-yi89lb:not(#\#):not(#\#) {
  transition: grid-template-rows var(--transition-Default) ease-in-out;
}

.editorstyling-1xad6n5:not(#\#):not(#\#) {
  transition: opacity var(--transition-Default) ease var(--transition-Default), margin-left var(--transition-Default) ease;
}

.editorstyling-1fma8x5:not(#\#):not(#\#) {
  transition: opacity var(--transition-Default) ease, margin-left var(--transition-Default) ease var(--transition-Default);
}

.editorstyling-c8avi6:not(#\#):not(#\#) {
  transition: opacity var(--transition-Default), transform var(--transition-Default) ease;
}

.editorstyling-2lu7ux:not(#\#):not(#\#) {
  transition: opacity var(--transition-Default);
}

.editorstyling-tkkc6t:is(*) > .react-colorful__last-control:not(#\#):not(#\#) {
  border-radius: 0 0 2px 2px !important;
}

.editorstyling-17io97:is(*) > .react-colorful__saturation:not(#\#):not(#\#) {
  border-radius: 2px 2px 0 0 !important;
}

.editorstyling-1curdr6.editorstyling-1curdr6:where(:hover, :focus):not(#\#):not(#\#), .editorstyling-kwbyna:focus-visible:not(#\#):not(#\#) {
  outline: 0;
}

.editorstyling-vvq1ej:focus-visible:not(#\#):not(#\#) {
  outline: 1px solid var(--colors-PrimaryBlue) !important;
}

.editorstyling-149ef6p:is(*) ~ svg:not(#\#):not(#\#) {
  transition: color var(--transition-Default);
}

.editorstyling-ip2jzm:focus:not(#\#):not(#\#) {
  outline: 1px solid var(--colors-PrimaryBlue);
}

.editorstyling-1uvtmcs:focus:not(#\#):not(#\#) {
  outline: none;
}

.editorstyling-vmahel:not(#\#):not(#\#):not(#\#) {
  -webkit-font-smoothing: antialiased;
}

.editorstyling-6s0dn4:not(#\#):not(#\#):not(#\#) {
  align-items: center;
}

.editorstyling-pqajaz:not(#\#):not(#\#):not(#\#) {
  align-items: end;
}

.editorstyling-amitd3:not(#\#):not(#\#):not(#\#) {
  align-self: center;
}

.editorstyling-1y8v6su:not(#\#):not(#\#):not(#\#) {
  align-self: start;
}

.editorstyling-1mj42ku:not(#\#):not(#\#):not(#\#) {
  animation-duration: var(--transition-Default);
}

.editorstyling-o1j90w:not(#\#):not(#\#):not(#\#) {
  animation-name: editorstyling-1rtyk12-B;
}

.editorstyling-4hg4is:not(#\#):not(#\#):not(#\#) {
  animation-timing-function: ease-in-out;
}

.editorstyling-jyslct:not(#\#):not(#\#):not(#\#) {
  appearance: none;
}

.editorstyling-1plog1:not(#\#):not(#\#):not(#\#) {
  aspect-ratio: 1;
}

.editorstyling-10y9f9r:not(#\#):not(#\#):not(#\#) {
  aspect-ratio: var(--x-aspectRatio);
}

.editorstyling-1ydx4q1:not(#\#):not(#\#):not(#\#) {
  backdrop-filter: blur(6px);
}

.editorstyling-twfq29:not(#\#):not(#\#):not(#\#) {
  background-color: currentColor;
}

.editorstyling-1tsovho:not(#\#):not(#\#):not(#\#) {
  background-color: #0000 !important;
}

.editorstyling-jbqb8w:not(#\#):not(#\#):not(#\#) {
  background-color: #0000;
}

.editorstyling-1n5oe1f:not(#\#):not(#\#):not(#\#) {
  background-color: var(--colors-ContrastBrightest);
}

.editorstyling-zyrq3l:not(#\#):not(#\#):not(#\#) {
  background-color: var(--colors-ContrastDarker);
}

.editorstyling-12g9wsq:not(#\#):not(#\#):not(#\#) {
  background-color: var(--colors-ContrastNeutral);
}

.editorstyling-1ndo24d:not(#\#):not(#\#):not(#\#) {
  background-color: var(--colors-PrimaryBlue);
}

.editorstyling-l8spv7:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x-backgroundColor);
}

.editorstyling-1149thc:not(#\#):not(#\#):not(#\#) {
  background-image: url("data:image/svg+xml, <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"2\" height=\"2\" fill-opacity=\".25\"><rect x=\"1\" width=\"1\" height=\"1\" /><rect y=\"1\" width=\"1\" height=\"1\" /></svg>");
}

.editorstyling-1ht9rhz:not(#\#):not(#\#):not(#\#) {
  background-size: 16px 16px;
}

.editorstyling-1s7xzt0:not(#\#):not(#\#):not(#\#) {
  box-shadow: 0 0 0 2px var(--colors-ContrastDark), 0 20px 40px #0006;
}

.editorstyling-1heor9g:not(#\#):not(#\#):not(#\#) {
  color: inherit;
}

.editorstyling-189eng2:not(#\#):not(#\#):not(#\#) {
  color: var(--colors-ContrastBrightest);
}

.editorstyling-1cosvjk:not(#\#):not(#\#):not(#\#) {
  color: var(--colors-ContrastDarkest);
}

.editorstyling-14rh7hd:not(#\#):not(#\#):not(#\#) {
  color: var(--x-color);
}

.editorstyling-t0e3qv:not(#\#):not(#\#):not(#\#) {
  cursor: default;
}

.editorstyling-1jm3nie:not(#\#):not(#\#):not(#\#) {
  cursor: grab;
}

.editorstyling-i9pz9s:not(#\#):not(#\#):not(#\#) {
  cursor: grabbing;
}

.editorstyling-1h6gzvc:not(#\#):not(#\#):not(#\#) {
  cursor: not-allowed;
}

.editorstyling-1ypdohk:not(#\#):not(#\#):not(#\#) {
  cursor: pointer;
}

.editorstyling-1ed109x:not(#\#):not(#\#):not(#\#) {
  cursor: text;
}

.editorstyling-1163a87:not(#\#):not(#\#):not(#\#) {
  cursor: var(--x-cursor);
}

.editorstyling-1lliihq:not(#\#):not(#\#):not(#\#) {
  display: block;
}

.editorstyling-jp7ctv:not(#\#):not(#\#):not(#\#) {
  display: contents;
}

.editorstyling-78zum5:not(#\#):not(#\#):not(#\#) {
  display: flex;
}

.editorstyling-rvj5dj:not(#\#):not(#\#):not(#\#) {
  display: grid;
}

.editorstyling-1s85apg:not(#\#):not(#\#):not(#\#) {
  display: none;
}

.editorstyling-117rol3:not(#\#):not(#\#):not(#\#) {
  fill: currentColor;
}

.editorstyling-dt5ytf:not(#\#):not(#\#):not(#\#) {
  flex-direction: column;
}

.editorstyling-15zctf7:not(#\#):not(#\#):not(#\#) {
  flex-direction: row-reverse;
}

.editorstyling-1iyjqo2:not(#\#):not(#\#):not(#\#) {
  flex-grow: 1;
}

.editorstyling-1a02dak:not(#\#):not(#\#):not(#\#) {
  flex-wrap: wrap;
}

.editorstyling-79g826:not(#\#):not(#\#):not(#\#) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.editorstyling-wsyq91:not(#\#):not(#\#):not(#\#) {
  font-size: 20px;
}

.editorstyling-1qlqyl8:not(#\#):not(#\#):not(#\#) {
  font-size: inherit;
}

.editorstyling-k07rqz:not(#\#):not(#\#):not(#\#) {
  font-size: var(--fontSize-Base);
}

.editorstyling-8cklmd:not(#\#):not(#\#):not(#\#) {
  font-size: var(--fontSize-Small);
}

.editorstyling-nby9oq:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.editorstyling-1xxtoay:not(#\#):not(#\#):not(#\#) {
  grid-template-rows: var(--x-gridTemplateRows);
}

.editorstyling-l56j7k:not(#\#):not(#\#):not(#\#) {
  justify-content: center;
}

.editorstyling-7v6yn8:not(#\#):not(#\#):not(#\#) {
  justify-content: end;
}

.editorstyling-1qughib:not(#\#):not(#\#):not(#\#) {
  justify-content: space-between;
}

.editorstyling-lqzeqv:not(#\#):not(#\#):not(#\#) {
  justify-content: start;
}

.editorstyling-1o2pa38:not(#\#):not(#\#):not(#\#) {
  justify-items: center;
}

.editorstyling-1159mfc:not(#\#):not(#\#):not(#\#) {
  line-height: 1.1;
}

.editorstyling-1u7k74:not(#\#):not(#\#):not(#\#) {
  line-height: 1.2;
}

.editorstyling-1hld986:not(#\#):not(#\#):not(#\#) {
  line-height: var(--spacing-GoldenUnit);
}

.editorstyling-190dgpg:not(#\#):not(#\#):not(#\#) {
  opacity: .65;
}

.editorstyling-g01cxk:not(#\#):not(#\#):not(#\#) {
  opacity: 0;
}

.editorstyling-b4nw82:not(#\#):not(#\#):not(#\#) {
  opacity: var(--x-opacity);
}

.editorstyling-1hl8ikr:not(#\#):not(#\#):not(#\#) {
  outline-offset: 2px;
}

.editorstyling-47corl:not(#\#):not(#\#):not(#\#) {
  pointer-events: none;
}

.editorstyling-j8z8mm:not(#\#):not(#\#):not(#\#) {
  position: absolute !important;
}

.editorstyling-10l6tqk:not(#\#):not(#\#):not(#\#) {
  position: absolute;
}

.editorstyling-ixxii4:not(#\#):not(#\#):not(#\#) {
  position: fixed;
}

.editorstyling-1n2onr6:not(#\#):not(#\#):not(#\#) {
  position: relative;
}

.editorstyling-2b8uid:not(#\#):not(#\#):not(#\#) {
  text-align: center;
}

.editorstyling-dpxx8g:not(#\#):not(#\#):not(#\#) {
  text-align: left;
}

.editorstyling-1hr2gdg:not(#\#):not(#\#):not(#\#) {
  text-align: right;
}

.editorstyling-142shqn:not(#\#):not(#\#):not(#\#) {
  text-align: var(--x-textAlign);
}

.editorstyling-lyipyv:not(#\#):not(#\#):not(#\#) {
  text-overflow: ellipsis;
}

.editorstyling-1a33avv:not(#\#):not(#\#):not(#\#) {
  transform: scale(.5);
}

.editorstyling-1xih9zl:not(#\#):not(#\#):not(#\#) {
  transform: translate(-50%, calc(-100% - 6px));
}

.editorstyling-1dpvuo6:not(#\#):not(#\#):not(#\#) {
  transform: translateX(-100%) translateX(var(--dropdown-header-width));
}

.editorstyling-sqj5wx:not(#\#):not(#\#):not(#\#) {
  transform: var(--x-transform);
}

.editorstyling-87ps6o:not(#\#):not(#\#):not(#\#) {
  user-select: none;
}

.editorstyling-uxw1ft:not(#\#):not(#\#):not(#\#) {
  white-space: nowrap;
}

.editorstyling-1vjfegm:not(#\#):not(#\#):not(#\#) {
  z-index: 1;
}

.editorstyling-fo81ep:not(#\#):not(#\#):not(#\#) {
  z-index: 1000;
}

.editorstyling-1p9coah:focus-visible:not(#\#):not(#\#):not(#\#) {
  box-shadow: -14px 0 0 0 var(--colors-ContrastNeutral), -14px 0 0 1px var(--colors-PrimaryBlue), 0 0 0 1px var(--colors-PrimaryBlue);
}

.editorstyling-166kiew:is(*) ~ svg:not(#\#):not(#\#):not(#\#) {
  color: #000 !important;
}

.editorstyling-dnrdwn:is(*) .neos-svg-inline--fa:not(#\#):not(#\#):not(#\#) {
  color: currentColor;
}

.editorstyling-1yasepr:focus-visible:not(#\#):not(#\#):not(#\#) {
  color: inherit !important;
}

.editorstyling-1sv5n3t.editorstyling-1sv5n3t:where(:hover, :focus):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-PrimaryBlue) !important;
}

.editorstyling-1p3htkq:is(:hover, :focus) > svg:not(#\#):not(#\#):not(#\#), .editorstyling-1qafsfm:is(:hover, :focus):not(#\#):not(#\#):not(#\#), .editorstyling-lopxp9:is(:hover, :focus) > :not(#\#):not(#\#):not(#\#) {
  opacity: 1;
}

.editorstyling-7xu4mq.editorstyling-7xu4mq:where(*) > svg:not(#\#):not(#\#):not(#\#) {
  opacity: var(--x-1ifsx55);
}

.editorstyling-3bw8qx:not(:hover) > :not(#\#):not(#\#):not(#\#) {
  opacity: var(--x-1lsze8t);
}

.editorstyling-vszx66.editorstyling-vszx66:where(*) > :not(#\#):not(#\#):not(#\#) {
  pointer-events: none;
}

.editorstyling-pbbwur:focus:not(#\#):not(#\#):not(#\#) {
  background-color: var(--colors-ContrastBrightest);
}

.editorstyling-1awz5i3:focus:not(#\#):not(#\#):not(#\#) {
  color: var(--colors-ContrastDarkest);
}

.editorstyling-ch2mbi:active:not(#\#):not(#\#):not(#\#) {
  cursor: grabbing;
}

.editorstyling-1t14alp:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-color: var(--colors-ContrastDark);
}

.editorstyling-ra8837:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-right-radius: 2px;
}

.editorstyling-1q0q8m5:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-style: solid;
}

.editorstyling-so031l:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-width: 1px;
}

.editorstyling-yj58a3:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-left-width: 0;
}

.editorstyling-1b4hy2t:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-color: currentColor;
}

.editorstyling-ja2y4p:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-right-radius: 2px;
}

.editorstyling-mvdzks:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-style: var(--x-borderTopStyle);
}

.editorstyling-1gp4ovq:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-width: 4px;
}

.editorstyling-1n7iir3:not(#\#):not(#\#):not(#\#):not(#\#) {
  bottom: -7px;
}

.editorstyling-1ey2m1c:not(#\#):not(#\#):not(#\#):not(#\#) {
  bottom: 0;
}

.editorstyling-5yr21d:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 100%;
}

.editorstyling-1v9usgg:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 14px;
}

.editorstyling-jm9jq1:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 1px;
}

.editorstyling-1gnnpzl:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 30px;
}

.editorstyling-mydgjh:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 65%;
}

.editorstyling-wzfr38:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 80px;
}

.editorstyling-t7dq6l:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: auto;
}

.editorstyling-1cv66ky:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: calc(100% - 15px);
}

.editorstyling-1i66d86:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: var(--spacing-GoldenUnit);
}

.editorstyling-16ye13r:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: var(--x-height);
}

.editorstyling-cf9131:not(#\#):not(#\#):not(#\#):not(#\#) {
  left: -7px;
}

.editorstyling-u96u03:not(#\#):not(#\#):not(#\#):not(#\#) {
  left: 0;
}

.editorstyling-1nrll8i:not(#\#):not(#\#):not(#\#):not(#\#) {
  left: 50%;
}

.editorstyling-1yg5f08:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-bottom: -1.1em;
}

.editorstyling-12nagc:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-bottom: 4px;
}

.editorstyling-1b973y9:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-left: -7px;
}

.editorstyling-5jszgg:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-left: calc(2px - 15%);
}

.editorstyling-d2cifw:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-left: calc((var(--spacing-Quarter)  + var(--spacing-GoldenUnit)) * -1) !important;
}

.editorstyling-16z1lm9:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: -7px;
}

.editorstyling-1ywdhnv:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-height: var(--dialog-total-max-height);
}

.editorstyling-a3dg91:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: var(--dialog-max-width);
}

.editorstyling-gdlz2r:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: var(--dropdown-content-width) !important;
}

.editorstyling-1o1nzlu:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-height: 15px;
}

.editorstyling-5d3rt4:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-height: var(--dialog-total-max-height);
}

.editorstyling-rugqim:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-height: var(--spacing-GoldenUnit);
}

.editorstyling-82snj4:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-height: var(--x-minHeight);
}

.editorstyling-euugli:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 0;
}

.editorstyling-6taa2c:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 15px;
}

.editorstyling-1eb6fiy:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: var(--dialog-max-width);
}

.editorstyling-anjte:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-left: var(--fontSize-Base);
}

.editorstyling-1nd6s1w:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-right: 0 !important;
}

.editorstyling-wsd3xy:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-right: var(--x-paddingRight);
}

.editorstyling-104jpfm:not(#\#):not(#\#):not(#\#):not(#\#) {
  right: -7px;
}

.editorstyling-3m8u43:not(#\#):not(#\#):not(#\#):not(#\#) {
  right: 0;
}

.editorstyling-n0lweg:not(#\#):not(#\#):not(#\#):not(#\#) {
  top: -7px;
}

.editorstyling-13vifvy:not(#\#):not(#\#):not(#\#):not(#\#) {
  top: 0;
}

.editorstyling-wa60dl:not(#\#):not(#\#):not(#\#):not(#\#) {
  top: 50%;
}

.editorstyling-h8yej3:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 100%;
}

.editorstyling-6jxa94:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 14px;
}

.editorstyling-17tiq77:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 15%;
}

.editorstyling-1i1rx1s:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 1px;
}

.editorstyling-1849jeq:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 30px;
}

.editorstyling-121bxxz:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: calc(100% - 15px);
}

.editorstyling-l25owk:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: calc(var(--spacing-Full) * 2 + 100%);
}

.editorstyling-9fp9d9:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: var(--dropdown-content-width) !important;
}

.editorstyling-apn7li:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: var(--dropdown-header-width) !important;
}

.editorstyling-5lhr3w:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: var(--x-width);
}

.editorstyling-ig34ds.editorstyling-ig34ds:where([open]):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::backdrop {
  animation-duration: .3s;
}

.editorstyling-1o0zhr6.editorstyling-1o0zhr6:where([open]):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::backdrop {
  animation-fill-mode: forwards;
}

.editorstyling-6g7tmn.editorstyling-6g7tmn:where([open]):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::backdrop {
  animation-name: editorstyling-2ri8rc-B;
}

.editorstyling-57i7wi.editorstyling-57i7wi:where([open]):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::backdrop {
  animation-timing-function: ease-out;
}
